 .swiper {
    width: 100%;
    height: 100%;
}
.slide-footer {
    display: flex;
}

.swiper-pagination {
    position: unset;
    margin-right: 10%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: anchor-center;
}

.swiper-pagination-bullet-active {
    background: #001CB0;
    width: 24px;
    border-radius: 4px;
}

.swiper-button-next,
.swiper-button-prev {
    position: relative;
    width: 12px;
    height: 12px;
    padding: 12px;
    border: 1px solid rgb(0 0 0 / 50%);
    border-radius: 50%;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.swiper-button-next {
    margin-left: 16px;
}

.nav-controls {
    display: flex;
    justify-content: center;
}

.swiper-container {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
}


@media (max-width: 480px) {
    .swiper-container {
        gap: 24px;
        padding: 16px;
    }
}

.swiper-slide {
    max-height: 500px;
}

.swiper-slide img {
    max-width: 100%; /* Ensures it doesn't exceed the parent */
    max-height: 100%; /* Ensures it stays within parent */
    object-fit: contain; /* Prevents distortion */
}