.customcarousel-wrapper {
    .swiper {
        width: 100%;
        height: 100%;
    }

    .slide-footer {
        display: flex;
    }

    .swiper-pagination {
        position: unset;
        margin-right: 10%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-pagination-bullet-active {
        background: #001CB0;
        width: 24px;
        border-radius: 4px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: relative;
        width: 12px;
        height: 12px;
        padding: 12px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 50%;

        &:after {
            font-size: 16px;
            font-weight: bold;
            color: #000;
        }
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        margin-left: 16px;
    }

    .nav-controls {
        display: flex;
        justify-content: center;
    }

    .swiper-container {
        min-height: 200px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 32px;

        @media (max-width: 480px) {
            gap: 24px;
            padding: 16px;
        }
    }

    .swiper-slide {
        max-height: 500px;

        img {
            max-width: 100%; /* Ensures it doesn't exceed the parent */
            max-height: 100%; /* Ensures it stays within parent */
            object-fit: contain; /* Prevents distortion */
        }
    }
}
