.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.slide-footer {
    display: flex;
}

.swiper-pagination {
    position: unset;
    margin-right: 10%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: anchor-center;
}

.swiper-pagination-bullet-active {
    background: #001CB0;
    width: 24px;
    border-radius: 4px;
}

.swiper-button-next,
.swiper-button-prev {
    position: relative;
    width: 12px;
    height: 12px;
    padding: 12px;
    border: 1px solid rgb(0 0 0 / 50%);
    border-radius: 50%;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.swiper-button-next {
    margin-left: 16px;
}

.nav-controls {
    display: flex;
    justify-content: center;
}

.swiper-container {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
}


@media (max-width: 480px) {
    .swiper-container {
        gap: 24px;
        padding: 16px;
    }
}
