<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" />
<sly data-sly-call="${clientLib.js @ categories='wknd.customcarousel.site'}" />
<sly data-sly-call="${clientLib.css @ categories='wknd.customcarousel.site'}" />
<sly data-sly-use.carouselModel="com.adobe.aem.guides.wknd.core.models.CustomCarouselModel" />

<!-- Load Model -->
<div id="${carouselModel.id}" style="min-height: 200px;">
    <div data-sly-test="${carouselModel.carouselType == 'None'}" >
        <p>Configure Carousel</p>
    </div>
    <sly data-sly-test="${carouselModel.carouselType == 'ImageGallery'}">
        <sly data-sly-include="image-gallary-carousel.html"></sly>
    </sly>

    <sly data-sly-test="${carouselModel.carouselType == 'Responsive'}">
        <sly data-sly-include="responsive-carousel.html"></sly>
    </sly>

    <sly data-sly-test="${carouselModel.carouselType == 'Feature'}">
        <sly data-sly-include="feature-carousel.html"></sly>
    </sly>
</div>