<sly data-sly-use.carouselModel="com.adobe.aem.guides.wknd.core.models.CustomCarouselModel" />
<div data-sly-test="${carouselModel.featureItems.size == 0}" class="min-height-200">
    <p>Configure Carousel</p>
</div>
<div id="thumb-carousel" data-sly-test="${carouselModel.featureItems.size > 0}" 
    space-between="10" navigation="true" keyboard="true" pagination="true" pagination-clickable="true">
    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2"
        aria-label="Feature Carousel">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-sly-repeat.feature="${carouselModel.featureItems}"
                aria-label="${feature.title}">
                <img src="${feature.imagePath @ context='uri'}" alt="${feature.altText}" />
            </div>
        </div>
    </div>
    <div thumbsSlider="" class="swiper mySwiper" aria-label="Thumbnail Carousel">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-sly-repeat.feature="${carouselModel.featureItems}"
                aria-label="${feature.title}">
            <div class="feature-title">${feature.title}</div>
            <div class="feature-description">
                <div data-sly-unwrap>${feature.description @ context='html'}</div>
            </div>
        </div>
        </div>
    </div>
</div>