<sly data-sly-use.carouselModel="com.adobe.aem.guides.wknd.core.models.CustomCarouselModel" />

<swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper" 
    thumbs-swiper=".mySwiper2" space-between="10" navigation="true" aria-label="Feature Carousel" role="region">
    <swiper-slide data-sly-repeat.feature="${carouselModel.featureItems}" aria-roledescription="slide" role="listitem">
        <img src="${feature.imagePath @ context='uri'}" alt="${feature.altText}" />
    </swiper-slide>
</swiper-container>

<swiper-container class="mySwiper2" space-between="10" slides-per-view="4" free-mode="true" 
    watch-slides-progress="true" aria-label="Feature Carousel Thumbnails" role="region">
    <swiper-slide data-sly-repeat.feature="${carouselModel.featureItems}" aria-roledescription="thumbnail" role="listitem" class="display-block">
        <div class="feature-title">${feature.title}</div>
        <div class="feature-description">
            <div data-sly-unwrap>${feature.description @ context='html'}</div>
        </div>
    </swiper-slide>
</swiper-container>
