<sly data-sly-use.carouselModel="com.adobe.aem.guides.wknd.core.models.CustomCarouselModel" />
<div data-sly-test="${carouselModel.carouselItems.size == 0}" class="min-height-200">
    <p>Configure Carousel</p>
</div>
<div id="image-carousel"  class="swiper-container" data-sly-test="${carouselModel.carouselItems.size > 0}" 
    space-between="10" navigation="true" keyboard="true" pagination="true" pagination-clickable="true" 
    slides-per-view="${carouselModel.numberOfSlides}"
    initial-slide="${carouselModel.activeSlide > carouselModel.carouselItems.size ? 0 : carouselModel.activeSlide}">
    <div class="swiper  image-gallary-carousel">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-sly-repeat.feature="${carouselModel.carouselItems}">
                <img src="${feature.imagePath @ context='uri'}" alt="${feature.altText}" />
            </div>
        </div>
    </div>
    <div class="slide-footer">
        <div class="nav-controls">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>