<sly data-sly-use.carouselModel="com.adobe.aem.guides.wknd.core.models.CustomCarouselModel" />

<swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper" 
    thumbs-swiper=".mySwiper2" space-between="10" navigation="true" keyboard="true" pagination="true" pagination-clickable="true" aria-label="Feature Carousel" role="region">
    <swiper-slide data-sly-repeat.feature="${carouselModel.carouselItems}" aria-roledescription="slide" role="listitem">
        <img src="${feature.imagePath @ context='uri'}" alt="${feature.altText}" />
    </swiper-slide>
</swiper-container>