<sly data-sly-use.carouselModel="com.adobe.aem.guides.wknd.core.models.CustomCarouselModel" />

<div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2" aria-label="Feature Carousel" role="region">
    <div class="swiper-wrapper" role="list">
        <div class="swiper-slide" data-sly-repeat.feature="${carouselModel.carouselItems}" aria-roledescription="slide" role="listitem">
            <img src="${feature.imagePath @ context='uri'}" alt="${feature.altText}" />
        </div>
    </div>
    <div class="swiper-button-next" aria-label="Next Slide" role="button"></div>
    <div class="swiper-button-prev" aria-label="Previous Slide" role="button"></div>
</div>
<div thumbsSlider="" class="swiper mySwiper" aria-label="Feature Carousel Thumbnails" role="region">
    <div class="swiper-wrapper" role="list">
        <div class="swiper-slide" data-sly-repeat.feature="${carouselModel.carouselItems}" aria-roledescription="thumbnail" role="listitem">
            <img src="${feature.imagePath @ context='uri'}" alt="${feature.altText}" />
        </div>
    </div>
</div>