<sly data-sly-use.carouselModel="com.adobe.aem.guides.wknd.core.models.CustomCarouselModel" />

<swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper ${wcmmode.edit ? 'flex-wrap' : ''}" 
    thumbs-swiper=".mySwiper2" space-between="10" navigation="true" keyboard="true" pagination="true" pagination-clickable="true" aria-label="Feature Carousel" role="region">
    <swiper-slide data-sly-repeat.item="${carouselModel.textFieldItems}" aria-roledescription="slide" role="listitem">
        <sly data-sly-resource="${@path=item.index, resourceType=item.itemPath}"></sly>
    </swiper-slide>
</swiper-container>