<sly data-sly-use.carouselModel="com.adobe.aem.guides.wknd.core.models.CarouselComponentModel" />
<sly data-sly-test.authoringMode="${(wcmMode.edit || wcmMode.design)}" />

<!-- Carousel display when items are available -->
<section data-sly-test="${carouselModel.carouselItems.size > 0 && carouselModel.carouselImageType=='image'}" id="image-carousel-${carouselModel.id}"
         class="custom-carousel" role="region" aria-roledescription="carousel"
         aria-label="${carouselModel.accessibilityLabel ? carouselModel.accessibilityLabel : 'Image Carousel'}"
         data-space-between="10" data-keyboard="true"
         data-pagination="${carouselModel.hideShowPagination ? '1' : '0'}" data-pagination-clickable="true"
         data-slides-per-view="${carouselModel.numberOfSlides == 1 ? '1' : carouselModel.numberOfSlides}"
         data-skeleton-list="${carouselModel.skeletonList}"
         data-initial-slide="${(carouselModel.activeSlide >= 0 && carouselModel.activeSlide < carouselModel.carouselItems.size) ? carouselModel.activeSlide : 0}"
         data-enable-peekaboo="${carouselModel.enablePeekaboo ? '1' : '0'}"
         data-hide-show-buttons="${carouselModel.hideShowButtons ? '1' : '0'}"
         data-prev-slide="${carouselModel.accessibilityPrevious ? carouselModel.accessibilityPrevious : 'Previous slide'}"
         data-next-slide="${carouselModel.accessibilityNext ? carouselModel.accessibilityNext : 'Next slide'}">

    <!-- Skeleton Loader for Image Carousel -->
    <div data-sly-test="${!authoringMode && carouselModel.carouselItems.size > 0}" class="loading-skeleton card image-carousel">
        <sly data-sly-repeat.item="${carouselModel.skeletonList}">
            <div class="element__bg-image loading"></div>
        </sly>
    </div>

    <div
            class="custom-carousel__container image-carousel__container image-carousel__container--${carouselModel.id} swiper">
        <div class="custom-carousel__wrapper image-carousel__wrapper swiper-wrapper">
            <div class="custom-carousel__slide image-carousel__slide swiper-slide"
                 data-sly-repeat.feature="${carouselModel.carouselItems}" role="group" aria-roledescription="slide"
                 aria-label="${featureList.index} of ${carouselModel.carouselItems.size}">
                <img class="image-carousel__image" src="${feature.imagePath @ context='uri'}" alt="${feature.altText}"/>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <div class="custom-carousel__footer image-carousel__footer">
        <div data-sly-test="${!carouselModel.hideShowButtons}" class="custom-carousel__controls" role="group"
             aria-label="Slide controls">
            <button class="custom-carousel__button image-carousel__button--prev"
                    aria-label=""
                    aria-hidden="false">
                <svg height="32" width="32" aria-hidden="true">
                    <use href="#chevron-left" xlink:href="#chevron-left"></use>
                </svg>
            </button>
            <button class="image-carousel__button image-carousel__button--next"
                    aria-label=""
                    aria-hidden="false">
                <svg height="32" width="32" aria-hidden="true">
                    <use href="#chevron-right" xlink:href="#chevron-right"></use>
                </svg>
            </button>
        </div>
        <div class="custom-carousel__pagination" role="group" aria-label="Slide pagination"></div>
    </div>
</section>
<sly data-sly-test="${carouselModel.carouselImageType == 'movingImage'}" >
    <sly data-sly-list.item="${carouselModel.movingImageItems}">
        <sly data-sly-resource="${@path=item.index, resourceType=item.movingImageComponent}"></sly>
    </sly>
</sly>
