<sly data-sly-use.carouselModel="com.adobe.aem.guides.wknd.core.models.CarouselComponentModel" />
<sly data-sly-test.authoringMode="${(wcmMode.edit || wcmMode.design)}" />

<!-- Authoring View -->
<div data-sly-test="${authoringMode && carouselModel.textFieldItems.size > 0}" class="custom-carousel__responsive-edit">
    <!-- Message for authors when in author mode -->
    <div data-sly-test="${authormode}" class="cq-placeholder section"
         data-emptyText="Configure the Responsive Carousel component"></div>
    <sly data-sly-list.item="${carouselModel.textFieldItems}">
        <div class="custom-carousel__responsive-edit--block">
            <!-- <p>Component ${item.itemPath} added - Click to edit content</p> -->
            <sly class="${item.itemClass}" data-sly-resource="${@path=item.index, resourceType=item.itemPath, decorationTagName='div', cssClassName=item.itemClass}"></sly>
        </div>
    </sly>
</div>

<!-- Published View -->
<section data-sly-test="${!authoringMode && carouselModel.textFieldItems.size > 0}"
         id="responsive-carousel-${carouselModel.id}" class="custom-carousel" role="region" aria-roledescription="carousel"
         aria-label="${carouselModel.accessibilityLabel ? carouselModel.accessibilityLabel : 'Component Carousel'}"
         data-space-between="10" data-keyboard="true"
         data-pagination="${carouselModel.hideShowPagination ? '1' : '0'}" data-pagination-clickable="true"
         data-slides-per-view="${carouselModel.numberOfSlides == 1 ? '1' : carouselModel.numberOfSlides}"
         data-skeleton-list="${carouselModel.skeletonList}"
         data-initial-slide="${(carouselModel.activeSlide >= 0 && carouselModel.activeSlide < carouselModel.textFieldItems.size) ? carouselModel.activeSlide : 0}"
         data-enable-peekaboo="${carouselModel.enablePeekaboo ? '1' : '0'}"
         data-hide-show-buttons="${carouselModel.hideShowButtons ? '1' : '0'}"
         data-prev-slide="${carouselModel.accessibilityPrevious ? carouselModel.accessibilityPrevious : 'Previous slide'}"
         data-next-slide="${carouselModel.accessibilityNext ? carouselModel.accessibilityNext : 'Next slide'}">

    <!-- Skeleton Loader for Responsive Carousel -->
    <div class="loading-skeleton card responsive-carousel">
        <sly data-sly-repeat.item="${carouselModel.skeletonList}">
            <div class="element__tile">
                <div class="element__image loading"></div>
                <div class="element__container">
                    <div class="element__title loading"></div>
                    <div class="element__subtitle loading"></div>
                    <div class="element__subtitle loading"></div>
                </div>
            </div>
        </sly>
    </div>

    <div
            class="custom-carousel__container responsive-carousel__container responsive-carousel__container--${carouselModel.id} swiper">
        <div class="custom-carousel__wrapper responsive-carousel__wrapper swiper-wrapper">
            <div class="custom-carousel__slide responsive-carousel__slide swiper-slide"
                 data-sly-repeat.item="${carouselModel.textFieldItems}" role="group" aria-roledescription="slide"
                 aria-label="${itemList.index} of ${carouselModel.textFieldItems.size}">
                <sly class="${item.itemClass}" data-sly-resource="${@path=item.index, resourceType=item.itemPath, decorationTagName='div', cssClassName=item.itemClass}"></sly>
            </div>
        </div>
    </div>

    <!-- Slide Controls -->
    <div class="custom-carousel__footer responsive-carousel__footer">
        <div class="custom-carousel__controls" data-sly-test="${!carouselModel.hideShowButtons}" role="group"
             aria-label="Slide controls">
            <button type="button" class="custom-carousel__button responsive-carousel__button--prev"
                    aria-label=""
                    aria-hidden="false">
                <svg height="32" width="32" aria-hidden="true">
                    <use href="#chevron-left" xlink:href="#chevron-left"></use>
                </svg>
            </button>
            <button type="button" class="custom-carousel__button responsive-carousel__button--next"
                    aria-label=""
                    aria-hidden="false">
                <svg height="32" width="32" aria-hidden="true">
                    <use href="#chevron-right" xlink:href="#chevron-right"></use>
                </svg>
            </button>
        </div>
        <div class="custom-carousel__pagination" role="group" aria-label="Slide pagination"></div>
    </div>
</section>
