<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Moving Image Component
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<div
        data-sly-use.movingImageModel="com.adobe.aem.guides.wknd.core.models.MovingImageModel"
        data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
        class="cmp-movingimage"
        id="${movingImageModel.id}"
>
    <div class="cmp-movingimage__video-wrapper">
        <video
                class="cmp-movingimage__player"
                poster="${movingImageModel.posterImage ? movingImageModel.posterImage : false}"
                autoplay="${movingImageModel.autoplayEnabled}"
                muted="${movingImageModel.muteEnabled}"
                loop="${movingImageModel.loopEnabled}"
        >
            <source src="${movingImageModel.movingImageAsset}" />
            <p>Your browser does not support HTML5 video.</p>
        </video>
    </div>
    <div class="cmp-movingimage__buttons-wrapper">
        <button aria-label="Play" class="cmp-movingimage__button btn-play"></button>
        <button aria-label="Replay" class="cmp-movingimage__button btn-replay d-none"></button>
        <button aria-label="Pause" class="cmp-movingimage__button btn-pause d-none"></button>
    </div>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty=!movingImageModel.movingImageAsset, classAppend='cmp-movingimage'}"></sly>